In [1]:
import pandas as pd

In [7]:
reviews = pd.read_csv('data/reviews-per-country.csv')
reviews

                   country  count  points
0                       US  54504    88.6
1                   France  22093    88.8
2                    Italy  19540    88.6
3                    Spain   6645    87.3
4                 Portugal   5691    88.3
5                    Chile   4472    86.5
6                Argentina   3800    86.7
7                  Austria   3345    90.1
8                Australia   2329    88.6
9                  Germany   2165    89.9
10             New Zealand   1419    88.3
11            South Africa   1401    88.1
12                  Israel    505    88.5
13                  Greece    466    87.3
14                  Canada    257    89.4
15                 Hungary    146    89.2
16                Bulgaria    141    87.9
17                 Romania    120    86.4
18                 Uruguay    109    86.8
19                  Turkey     90    88.1
20                Slovenia     87    88.1
21                 Georgia     86    87.7
22                 England     74    91.6
23                 Croatia     73    87.2
24                  Mexico     70    85.3
25                 Moldova     59    87.2
26                  Brazil     52    84.7
27                 Lebanon     35    87.7
28                 Morocco     28    88.6
29                    Peru     16    83.6
30                 Ukraine     14    84.1
31               Macedonia     12    86.8
32                  Serbia     12    87.5
33          Czech Republic     12    87.2
34                  Cyprus     11    87.2
35                   India      9    90.2
36             Switzerland      7    88.6
37              Luxembourg      6    88.7
38                 Armenia      2    87.5
39  Bosnia and Herzegovina      2    86.5
40                   China      1    89.0
41                Slovakia      1    87.0
42                   Egypt      1    84.0