In [34]:
import pandas as pd

In [115]:
wine_df = pd.read_csv('data/winemag-data-130k-v2.csv')
wine_df_copy = wine_df
wine_df_copy.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [124]:
wine_df_copy['count'] = 1
wine_df_copy.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,count
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1

In [133]:
country_stats = wine_df_copy.groupby('country').agg({'count': 'sum', 'points': 'mean'}).reset_index()
country_stats['points'] = country_stats['points'].round(1)
country_stats.sort_values(by='count', ascending=False)

                   country  count  points
40                      US  54504    88.6
15                  France  22093    88.8
22                   Italy  19540    88.6
37                   Spain   6645    87.3
31                Portugal   5691    88.3
8                    Chile   4472    86.5
0                Argentina   3800    86.7
3                  Austria   3345    90.1
2                Australia   2329    88.6
17                 Germany   2165    89.9
29             New Zealand   1419    88.3
36            South Africa   1401    88.1
21                  Israel    505    88.5
18                  Greece    466    87.3
7                   Canada    257    89.4
19                 Hungary    146    89.2
6                 Bulgaria    141    87.9
32                 Romania    120    86.4
42                 Uruguay    109    86.8
39                  Turkey     90    88.1
35                Slovenia     87    88.1
16                 Georgia     86    87.7
14                 England     74    91.6
10                 Croatia     73    87.2
26                  Mexico     70    85.3
27                 Moldova     59    87.2
5                   Brazil     52    84.7
23                 Lebanon     35    87.7
28                 Morocco     28    88.6
30                    Peru     16    83.6
41                 Ukraine     14    84.1
25               Macedonia     12    86.8
33                  Serbia     12    87.5
12          Czech Republic     12    87.2
11                  Cyprus     11    87.2
20                   India      9    90.2
38             Switzerland      7    88.6
24              Luxembourg      6    88.7
1                  Armenia      2    87.5
4   Bosnia and Herzegovina      2    86.5
9                    China      1    89.0
34                Slovakia      1    87.0
13                   Egypt      1    84.0